.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Slick custom pink dots for slider */
.my-slick-dots {
  display: flex !important;
  justify-content: center;
}
.my-slick-dots li button {
  font-size: 0;
  width: 6px;
  height: 6px;
  background-color: #F5CCE2;
  opacity: 0.4;
  border-radius: 50%;
  border: none;
  margin: 0 5px;
  cursor: pointer;
}
.my-slick-dots li.slick-active button {
  opacity: 1;
}
