@tailwind base;

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: theme('colors.backgroundGrey');
  max-width: 1024px;
  margin: auto;
}

main {
  position: relative;
  display: flex;
  flex-grow: 1;
  background-color: theme('colors.defaultPink');
  padding: 1rem;
  border-radius: 2rem 2rem 0 0;
  gap: 1rem;

  > div {
    height: fit-content;
  }
}

/* Slick custom pink dots for slider */
.my-slick-dots {
  display: flex !important;
  justify-content: center;
}
.my-slick-dots li button {
  font-size: 0;
  width: 6px;
  height: 6px;
  background-color: #F5CCE2;
  opacity: 0.4;
  border-radius: 50%;
  border: none;
  margin: 0 5px;
  cursor: pointer;
}
.my-slick-dots li.slick-active button {
  opacity: 1;
}

::selection {
    color: #ffffff;
    background-color: #F472B6;
}