@tailwind base;

.app {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: theme('colors.backgroundGrey');
  max-width: 1024px;
  margin: auto;
}

main {
  position: relative;
  display: flex;
  flex-grow: 1;
  background-color: theme('colors.defaultPink');
  padding: 1rem;
  border-radius: 2rem 2rem 0 0;
  gap: 1rem;

  > div {
    height: fit-content;
  }
}
