@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=SF+Pro+Rounded:wght@400;500;600;700&display=swap');
.scrollbar-hide::-webkit-scrollbar { display: none; }


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  background-color: theme('colors.backgroundGrey');
  scrollbar-gutter: stable both-edges;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.with-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: theme('colors.darkGrey') transparent;
}

.with-scrollbar::-webkit-scrollbar-thumb {
    background-color: theme('colors.darkGrey');
    border-radius: 0.25rem;

    &:active {
      background-color: theme('colors.darkGrey');
    }
  }

@font-face {
  font-family: 'SF Pro Rounded';
  src: url('../assets/fonts/SF-Pro-Rounded-Bold.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
