.root {
  width: 40vw;             
  aspect-ratio: 610 / 612;      
  
  border-radius: 20px;
  background-color: #F5F3F3;

  margin: 0 auto;             
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: calc((100vh - (44.44vw / (640 / 612))) / 2);
}